body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#efefef;
}

a {
    text-decoration: none;
}

.Header {
    background-color:#1f2547;
    display: flex;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    flex-wrap: nowrap;
}

.header-logo {
    padding-left: 24px;
}

.header-item {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex:auto;
    flex-direction: row;
    justify-content: end;
}

.header-item nav {
    display: flex;
    align-self: auto;
}

.header-item a, img {
    margin-right: 32px;
}

.header-item a {
    color:white;
}

.header-item a:active {
    color: orangered;
}

.header-item a:hover {
    color:lightgray;
    transform: scale(1.05);
    transition: 0.15s;
}

h1 {
    padding: 40px;
}

.main-block {
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 40px;
}

.item {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
    min-width: 408px;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.item img {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.item-description {
    position: relative;
    margin-left: 12px;
}

.item-tags {
    position: relative;
    padding: 12px;
}

.item-tags button {
    border-color: orangered;
    color: orangered;
    background-color: #ffffff;
    height: 25px;
    border-radius: 5px;
}

.item-tags button:hover {
    background-color:#f0eceb;
    border-color: #ff2a00;
    color:#ff2a00;
}

.item-tags button:active {
    box-shadow: 3px 3px 7px 5px rgba(0,0,0,0.2);
}

.items-load-button {
    flex-direction: column;
}

/* поле Рубрики уезжает вправо */
.side-menu {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 16px;
}

.side-menu a {
    margin-top: 8px;
}

footer {
    display: flex;
    align-items:baseline;
    justify-content:space-between;
    background-color:#f0eceb;
}

.bot-anchors {
    padding: 40px;
}

.bot-anchors a {
    color:#1f2547;
    margin-right: 20px;
}

.bot-text {
   margin-right: 40px;
   color: grey
}

.items-load-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 80%;
    height: 40px;
    color:#303d83;
    border-color: #303d83;
    border-radius: 5px;
    font-size: 20px;
}

.items-load-button:active {
    color:#172c92;
    border-color: #172c92;
    box-shadow: 3px 3px 7px 5px rgba(0,0,0,0.2);
}